* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arimo', sans-serif;
}

.wrapper {
    width: 1192px;
    margin: 0 auto;
    /* position: fixed;
    left: calc(50% - 1192px/2);
    top: calc(50% - 736px/2); */
    padding: 25px;
    background: #3A4965;
}

.content-table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.27);
    text-transform: uppercase;
    color: #484848;
}

.content-table thead .thead-bottom,
.content-table tbody td {
    border-right: 1px solid #DDDDDD;
}
.content-table thead .thead-bottom:first-child {
    border-left: 1px solid #DDDDDD;
}
.content-table thead .thead-bottom:last-child,
.content-table tbody td:last-child {
    border-right: none;
}
.content-table tfoot td {
    border-right: 1px solid #DDDDDD;
}
.content-table tfoot td:last-child {
    border-right: none;
}

.content-table thead tr {
    background: #FAFAFA;
}
.thead-bgn-green {
    background: #89C331;
}
.thead-bgn-red {
    background: #F04A56;
}
.thead-bgn-dtk {
    background: #20807C;
}
.content-table tbody tr:nth-child(odd) {
    background: #F2F2F2;
}
.content-table tbody tr:nth-child(even) {
    background: #E3E3E3;
}

.thead-top {
    padding: 22px 0;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
}

p {
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
}

.thead-font-size {
    font-size: 30px;
}

.thead-bottom {
    font-weight: 700;
    font-size: 60px;
    line-height: 28px;
    padding: 23px 30px 10px;
}

sup {
    font-size: 24px;
    position: relative;
    top: -16px;
}

span {
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    position: relative;
    top: -15px;
    left: -29px;
}

.content-table tbody tr td{
    line-height: 28px;
    padding: 22px;
}

.tbody-lcol-lh {
    line-height: 16px
}

.content-table tfoot tr td {
    background: #F2F2F2;
    padding: 27px 30px;
}

button {
    width: 192px;
    padding: 17px 20px;
    border: none;
    border-radius: 5px;
    font: inherit;
    font-weight: 700;
    color: #FFFFFF;
    text-transform: uppercase;
    cursor: pointer;
    box-shadow: inset 0 -5px 5px 0 rgba(0, 0, 0, 0.5);
}

.button-bgd-left {
    background: #484848;
}
.button-bgd-midleft {
    background: #89C331;
}
.button-bgd-midright {
    background: #F04A56;
}
.button-bgd-right {
    background: #20807C;
}