* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arimo', sans-serif;
}

.wrapper {
    width: 1192px;
    margin: 0 auto;
    /* position: fixed;
    left: calc(50% - 1192px/2);
    top: calc(50% - 736px/2); */
    padding: 25px;
    background: #3A4965;
}

.content-table {
    width: 100%;
    border-collapse: collapse;
    /* border-spacing: 10px; */
    text-align: center;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.27);
    text-transform: uppercase;
    color: #484848;
}

.content-table thead tr th:nth-child(odd) {
    background: #F2F2F2;
}

.content-table thead tr th:first-child {
    background: #FAFAFA;
}


.content-table thead tr th:nth-child(even) {
    background: #E3E3E3;
}

.content-table thead tr th {
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
}

.thead-font-size {
    font-size: 14px;
} 

.content-table thead tr th {
    padding: 26px 0;
}
.content-table thead tr th:first-child {
    padding: 0 13px;
}
.content-table thead tr th:nth-child(2),
.content-table thead tr th:nth-child(5) {
    padding: 0 30px;
}
.content-table thead tr th:nth-child(3) {
    padding: 0 18px;
}
.content-table thead tr th:nth-child(4) {
    padding: 0 48px;
}
.content-table thead tr th:nth-child(6) {
    padding: 0 22px;
}
.content-table thead tr th:last-child {
    padding-left: 43px;
    padding-right: 43px;
}

.content-table tbody tr td:nth-child(even) {
    background: #E3E3E3;
}

.content-table tbody tr {
    background: #F2F2F2;
}

.content-table tbody tr td {
    line-height: 24px;
}

.tbody-left-column {
    font-weight: 700;
    font-size: 36px;
    line-height: 28px;
    color: #FFFFFF;
    padding: 23px 0;
}

.tbody-left-bgd-green {
    background: #89C331;
}
.tbody-left-bgd-red {
    background: #F04A56;
}
.tbody-left-bgd-idk {
    background: #20807C;
}

sup {
    font-size: 18px;
    position: relative;
    top: -3px;
}

span {
    font-size: 14px;
    position: relative;
    top: -9px;
    left: 3px;
}

.main-text {
    font-size: 24px;
}

button {
    width: 144px;
    background: #414141;
    padding: 8px 20px;
    font-weight: 700;
    font-size: 16px;
    line-height: 28px;
    border: none;
    border-radius: 5px;
    color: #FFFFFF;
    text-transform: uppercase;
    cursor: pointer;
    margin-top: 10px;
    box-shadow: inset 0 -5px 0 0 rgba(0, 0, 0, 0.27);
}

.content-table thead tr th {
    border-bottom: 1px solid #DDDDDD;
}
.content-table thead tr th:first-child {
    border-bottom: none;
}
.content-table tbody tr td {
    border-bottom: 1px solid #DDDDDD;
}
.content-table tbody tr td:first-child {
    border-bottom: none;
}
.content-table tbody tr .tbody-bottom {
    border-bottom: none;
}
